<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="3.1.10" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="3.1.10" targetFramework="net461" />
</packages>